* {
  margin: 0;
  padding: 0;
}

a,a:link,a:visited {
  color: #438899;
  text-decoration: none;
}

/* nav */
.nav-bar {
  width: 100%;
  position: fixed;
  background-color: white;
  border-bottom: 1px solid #E8E8E8;
  z-index: 2;
}

.nav-bar-items {
  display: flex;
  height: 54px;
  align-items: center;
  max-width: 1200px;
  margin: auto;
}

.nav-title {
  flex: none;
  text-align: center;
  font-size: 1.5rem;
  color: #438899;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 34px;
}

.nav-menu {
  flex: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-schedule {
  height: 14px;
  margin: 10px 20px 10px 0;
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 13px;
  color: #666666;
}

.nav-login {
  height: 14px;
  margin: 10px 0;
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 13px;
  color: #666666;
}

main {
  padding-top: 54px;
  max-width: 1200px;
  margin: auto;
}

.product {
  display: flex;
  max-width: 1200px;
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 37px;
  margin-top: 37px;
}

/* image part */
.img {
  position: relative;
  max-height: 406px;
  width: 45%;
  margin: 0 15px;
  border-radius: 5px;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

/* CSS 做出圓形點擊
.img-left, .img-right{
  display:flex;
  position:absolute;
  top:203px;
  width:36px;
  height:36px;
  align-items:center;
  justify-content:center;

  border-radius: 100rem;

  background-color: white;
  opacity: 0.3;
}
.img-right {
  right:0;
} */
.img-left, .img-right {
  width: 36px;
  height: 36px;
  position: absolute;
  top: 45%
  opacity: 0.2;
}

.img-left {
  left: 10px;
}

.img-right {
  right: 10px;
}

.img-left:hover {
  opacity: 0.8;
}

.img-right:hover {
  opacity: 0.8;
}

.img-order {
  display: inline-flex;
  position: absolute;
  bottom: 10px;
  left: calc(50% + -15px);
}

.img-order-list {
  margin: 0 5px;
  color: white;
  opacity: 0.8;
}

.img-order-pick {
  margin: 0 5px;
  color: black;
  opacity: 0.8;
}

/* info part */
.info {
  margin-top: 10px;
  max-width: 600px;
  /* max-height: 302px; */
  /* width: 100%;
  height: 100%; */
}

.name {
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: #666666;
  height: 33px;
  margin: 0 10px 15px;
}

.location {
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 13px;
  color: #666666;
  height: 22px;
  margin: 15px 10px;
}

.booking {
  background: #E8E8E8;
  border-radius: 5px;
  margin: 5px 0;
  height: 302px;
  margin: 0 10px;
}

.booking-name {
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 13px;
  color: #666666;
  height: 22px;
  width: 560px;
  padding: 15px 20px 24px 20px;
}

.booking-story {
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 13px;
  color: #666666;
  height: 24px;
  /* width: 560px; */
  padding: 0 20px 24px 20px;
}

.booking-date, .booking-fee, .booking-time {
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 13px;
  color: #666666;
  height: 22px;
  padding: 0 20px 24px 20px;
}

.total-fee {
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 13px;
  color: #666666;
}

.booking-confirm {
  display: flex;
  height: 36px;
  width: 154px;
  background-color: #448899;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 16px;
  margin-left: 20px;
}

input[type='radio'] {
  width: 10px;
  height: 10px;
  margin-right: 10px;
  margin-left: 18px;
}

input[type='radio']:after {
  width: 22px;
  height: 22px;
  position: relative;
  top: -10px;
  left: -10px;
  border-radius: 22px;
  background-color: white;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type='radio']:checked:after {
  width: 22px;
  height: 22px;
  border-radius: 18px;
  background-color: #448899;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

.description {
  max-width: 1180px;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 214px;
}

.content, .address-content, .traffic-content {
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: #666666;
  margin-right: 10px;
  margin-left: 20px;
}

.address-title, .traffic-title {
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 13px;
  color: #666666;
  max-width: 1180px;
  width: 100%;
  height: 32px;
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 20px;
}

footer {
  display: flex;
  background-color: #757575;
  height: 104px;
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 13px;
  color: #FFFFFF;
  justify-content: center;
  align-items: center;
}

/* @media (min-width: 1200px) {

} */
@media (min-width: 600px) and (max-width:1200px) {
  .product {
    display: flex;
    flex-wrap: wrap;
  }

  .img {
    min-width: 540px;
  }
}

@media (max-width: 600px) {
  .nav-bar {
    position: fixed;
    background-color: white;
    border-bottom: 1px solid #E8E8E8;
    z-index: 2;
  }

  .nav-bar-items {
    margin: auto 20px;
  }

  .description {
    width: 100%;
  }

  .product {
    display: flex;
    flex-wrap: wrap;
  }

  .img {
    width: 100%;
  }

  .info {
    width: 100%;
  }

  .booking-story {
    line-height: 23px;
    margin-bottom: 24px;
  }

  .booking {
    padding-bottom: 24px;
  }
}
